[tool.ruff]
line-length = 100
target-version = "py311"

# Что не трогаем
exclude = [
  "venv",
  "__pycache__",
  ".mypy_cache",
  ".ruff_cache",
  ".pytest_cache",
  "dist",
  "build",
  "alembic.ini",
  "src/migrations/env.py",   # миграции
  "src/migrations/script.py.mako",   # миграции
]

[tool.ruff.lint]
select = [
  "E", "F",     # базовые ошибки (pycodestyle/pyflakes)
  "W",          # предупреждения
  "I",          # imports sorting
  "B",          # bugbear (частые баги)
  "UP",         # pyupgrade
  "SIM",        # упрощения
  "C4",         # comprehensions
  "ASYNC",      # полезно для async FastAPI
]

ignore = [
  "E501",       # длина строки (форматтер сам решит)
]

# Автофиксы будут разрешены (используются при ruff check --fix)
fixable = ["ALL"]
unfixable = []

[tool.ruff.lint.per-file-ignores]
# Alembic env.py часто “особенный” по импортам/порядку/побочкам
"alembic/env.py" = ["E402", "F401"]

# __init__.py иногда держит реэкспорты
"**/__init__.py" = ["F401"]

[tool.ruff.format]
quote-style = "single"
indent-style = "space"
docstring-code-format = true